name: Publish Mod

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build

      - name: mc-publish
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: SDTJzC3Z
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 1374432
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          loaders: |
            fabric
            forge
            neoforge

          github-token: ${{ secrets.GITHUB_TOKEN }}

          changelog: |
            ### Version 1.2.6
            - Fixes culling issues which makes projectiles look much better visually
